body {
  position: relative;
  background-color: #A9A9A9;
}

.border {
  background: linear-gradient(to right, #9ECBAC, #F9E4AB);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid #000000;
  padding: 20px;
  justify-content: center;
}

h3 {
  text-align: center;
  margin: 0;
  font-family: 'Permanent Marker', cursive;
}

#app {
  width: 300px;
  padding: 20px;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

li {
  padding: 10px;
  background-color: #FFFFFF;
  position: relative;
  border: 1px solid #C0C0C0;
}

input {
  font-size: 16px;
  background: none;
  border: none;
}

input::placeholder {
  color: #FFFFFF;
}

button {
  background: none;
  border: none;
  font-size: 16px;
}

.list {
  max-height: 400px;
  overflow: scroll;
}

.radio {
  margin-bottom: 20px;
  margin-left: 50%;
  transform: translate(-50%, 0);
  white-space: nowrap;
}

.newItem {
  background: linear-gradient(to right, #78B393, #8EBA8F);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.star {
  visibility:hidden;
  font-size:30px;
  cursor:pointer;
  float: right;
}

.star:before {
  content: "\2606";
  color: #000000;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  visibility: visible;
}

.star:checked:before {
  content: "\2605";
  color: #F2B01E;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

.fa-plus {
  color: #FFFFFF;
  cursor: pointer;
}

.completed {
  background: linear-gradient(to right, #78B393, #8EBA8F);
  color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  white-space: nowrap;
  width: min-content;
  margin-left: 50%;
  transform: translate(-50%, 0);
}
